<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/01-introduction/index.html">GPUs: How are different from CPUs?</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/02-paradigms/index.html">Paradigms of Parallel Computing</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/03-CUDA-foundations/index.html">Basics of CUDA</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/04-deep-learning/index.html">Deep Learning</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/05-molecular-dynamics/index.html">Classical Molecular Dynamics</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://wvuhpc.github.io/GPUs-in-Scientific-Applications/06-other-applications/index.html">Computational Fluid Dynamics and other applications</a></td> </tr>
      <tr> <td>12:00</td>  <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
